{% extends "index.html" %}
{% block page %}<script>window.page = "report";</script>{% endblock %}
{% block body %}
  <div class="vertical-spacer-30"></div>
  <div class="row">
    <div class="large-12 columns">
      <div class="light-gray-box">
        <div class="row">
          <div class="large-12 columns">
            <h4>Progress report for {{ session.user }}</h4>
          </div>
        </div>
        <form action="" method="POST" id="peer-review">
          <input type="hidden" id="test" name="test" value="test" />
​          <textarea id="report-text" name="report-text" rows="20" cols="70" placeholder="Enter your report here" value="{{ request.form.report }}" required></textarea>
          <button type="submit" class="button small" id="report">Report</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
